.card {
  min-width: 11rem;
  max-width: 16rem;
  width: 100%;
  margin-bottom: 0.7rem;
}

.card img {
  height: 18rem;
}

.title {
  min-height: 4rem;
  font-size: 20px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-body .valor {
  font-size: 18px;
}

.botao {
  margin-top: 5px;
  text-align: center;
}
