<div class="card">
  <div class="card-header">
    <h4>Filtros</h4>
  </div>
  <div class="card-body">
      <form>
        <div class="lancamentos form-group">
          <input type="radio" name="lancamentos" id="lancamentos">
          <label for="lancamentos">Lançamentos</label>
        </div>
        <div class="livro form-group">
          <input type="radio" name="radio-livro" id="radio-livro">
          <label class="opt" for="livro">Livro:</label>
          <input type="text" id="livro" class="form-control">
        </div>
        <div class="autor form-group">
          <input type="radio" name="radio-autor" id="radio-autor">
          <label class="opt" for="autor">Autor:</label>
          <input type="text" id="autor" class="form-control">
        </div>
        <div class="editora form-group">
          <input type="radio" name="radio-editora" id="radio-editora">
          <label class="opt" for="editora">Editora:</label>
          <input type="text" name="editora" id="editora" class="form-control">
        </div>
      </form>
    </div>
</div>
