<div class="card">
  <div class="card-header">
    <h4>Fazer Login...</h4>
  </div>
  <div class="card-body">
    <form>
      <div class="form-group" id="login">
        <label for="login">Login</label>
        <input class="" type="text" name="login" id="login">
      </div>
      <div class="form-group" id="senha">
        <label for="senha">Senha</label>
        <input type="text" name="senha" id="senha">
      </div>
      <div class="botao">
        <button type="button" class="btn btn-success">Entrar</button>
        <a class="btn btn-outline-primary" [routerLink]="['/Login/Cadastrar']">Cadastrar</a>
      </div>
    </form>
  </div>
</div>
