<nav class="navbar navbar-expand navbar-light" style="background-color: #b8bae7;">
  <a class="header navbar-brand" [routerLink]="['/']"><h3>{{ titulo }}</h3></a>

  <div class="navbar-collapse" id="navbarNavDropdown">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/Livros']" routerLinkActive="active">Livros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/Carrinho']" routerLinkActive="active">Carrinho</a>
      </li>
    </ul>
    <ul class="usuario navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/Login']" routerLinkActive="active">Login</a>
      </li>
    </ul>
  </div>
</nav>
